.hero{
    display: flex;
    flex-direction: column;
}
.heroImg {
    /* position: relative; */
    width: 100%;
    height: 80%;
    object-fit: cover;
}


.hero h1 {
    font-family: var(--grotesk);
    font-weight: 700;
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.hero h2 {
    font-weight: 300;
    font-family: var(--inter);
    color: var(--text);
}

.text {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* top: 50%; */
}

.text button {
    padding: 0.8rem;
    background-color: #0D0D0D;
    color: var(--primary-dark);
    border:1px solid var(--primary-hover);

}

.model {
    height: 55%;
    width: 100%;
    object-fit: contain;

}
