@charset "UTF-8";

* , *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7B2EFF;
    --primary-hover: #9A5CFF;
    --primary-dark: #4B1D91;

    --yellow: #FFD447;
    --neon: #8EFF5A;

    --secondary-color: #FF7A18;

    --bg-color:#0D0D0D;

    --text: #F5F5F2;
    --text-secondary: #B8B8B8;
    --text-grey: #7A7A7A;

    --shadow: 0 4px 12px rgba(0,0,0,0.08);
    --border: 1px solid #2A2A31

    --poppins: 'Poppins', sans-serif;
    --inter: 'Inter', sans-serif;
    --grotesk: "Space Grotesk", sans-serif;

}

html {
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem
}

body {
    background-color: var(--bg-color);
    font-family: var(--inter);
}

h2, h3, button, nav {
    font-family: var(--poppins);
}

