header {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text);
}


nav{
    padding: 48px 16px;
}

.logo img {
    display: flex;
    justify-self: center;
    align-items: center;
    max-width: 50vw;
}

nav ul{
    display: flex;
    justify-content: space-around;

}

ul li {
    list-style: none;
    color: var(--text);
}