.scroll-header {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text);
    border-bottom: 1px solid var(--primary-dark);
}


nav {
    background-color: var(--bg-color);
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1;
}



.logo img {
    display: flex;
    justify-self: center;
    max-width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    display: flex;
    list-style: none;
    color: var(--text);
    cursor: pointer;
}

ul li:hover{
    color: var(--primary-color);

}

.navIcons {
    display: flex;
    align-self: flex-end;
    gap: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--text);
}

@media (min-width: 1024px) {
    .scroll-header {
        height: 10%;
    }
    nav{
        position: static;
    }
    .logo img {
        width: 15%;
    }
}