header {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text);
}


nav{
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
}

.logo img {
    display: flex;
    justify-self: center;
    max-width: 70vw;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

ul li {
    display: flex;
    list-style: none;
    color: var(--text);
    cursor: pointer;
}

.navIcons {
    display: flex;
    flex-direction: column;
    align-self: flex-end ;
    gap: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    fill: var(--text);
}