main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

.background-main {
    position: fixed;

    inset: 0;

    z-index: -1;

    overflow: hidden;

    background: #0a0a0a;

    pointer-events: none;

    background:
        radial-gradient(circle at 20% 20%,
            rgba(128, 0, 255, 0.25),
            transparent 30%),

        radial-gradient(circle at 80% 30%,
            rgba(255, 0, 128, 0.18),
            transparent 35%),

        radial-gradient(circle at 50% 80%,
            rgba(0, 180, 255, 0.15),
            transparent 40%),

        #050505;

    background-size:
        200% 200%;

    animation:
        bgMove 20s ease-in-out infinite alternate;
}


@keyframes bgMove {

    0% {
        background-position:
        0% 0%;
    }

    50% {
        background-position:
        100% 50%;
    }

    100% {
        background-position:
        0% 100%;
    }

}